<div class="search-box">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search your city" name="city" [(ngModel)]="cityName">
  </form>
</div>


<div class="container" *ngIf="weatherData">
  <div class="upper-section">
    <img src="../assets/hot.png" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/cold.png" *ngIf="weatherData.main.temp <= 15">

    <div class="weather-info">
      <div class="location">{{weatherData.name}}</div>
      <div class="temp">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>
    </div>
  </div>

  <div class="botom-section">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Min.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">{{weatherData.main.temp_min}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Max.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">{{weatherData.main.temp_max}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">{{weatherData.main.humidity}}%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind Speed</span>
        </div>
        <div class="info-block-value">{{weatherData.wind.speed}} Km/h</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
